{% extends "base.html" %}
{% block title %}課程查詢{% endblock %}
{% block content %}


<h1 align="center">課程查詢</h1>
    <form method="POST" align="center">
        <input type="text" name="search_query" placeholder="輸入課程名稱或代號">
        <button type="submit">查詢</button>
    </form>

    {% if theClass %}
        <h2 align="center">課程資料:</h2>
        <div style="display: flex; justify-content: center;">
            <table border="1" style="border-collapse: collapse; width: 80%; font-size: 1.2em;">
                <tr>
                    <th style="padding: 10px; text-align: center;">課程代號</th>
                    <th style="padding: 10px; text-align: center;">課程名稱</th>
                    <th style="padding: 10px; text-align: center;">老師</th>
                    <th style="padding: 10px; text-align: center;">教室</th>
                    <th style="padding: 10px; text-align: center;">節次</th>
                </tr>
                <tr>
                    <td style="padding: 10px; text-align: center;">{{ theClass.number }}</td>
                    <td style="padding: 10px; text-align: center;">{{ theClass.name }}</td>
                    <td style="padding: 10px; text-align: center;">{{ theClass.teacher }}</td>
                    <td style="padding: 10px; text-align: center;">{{ theClass.classroom }}</td>
                    <td style="padding: 10px; text-align: center;">{{ theClass.time }}</td>
                </tr>
            </table>    
        {% if current_user.is_authenticated %}
            <button align="center">加入課程</button> 
        {% endif %}
    {% elif numberOrName %}
        <h2 align="center">查無此課程，請重新查詢</h2> 
    {% endif %}

{% endblock %}